<!-- Call to Action Section -->
<div class="well">
    <div class="row">
        <div class="col-md-8">
            <p>Our club's success depends on fund raising to make up the cost of our robot's parts, tools to make the robot, shipping of the robot to competitions, etc.  Donations to the club are donations to a 501(c)3 organization.</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-default btn-block" href="http://wiki.nrg948.co/w/Donate">Please, Donate Now!</a>
        </div>
    </div>
</div>
