<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url(./images/image1.jpg);"></div>
            <div class="carousel-caption">
                <h2>Mechanical</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url(./images/image2.jpg);"></div>
            <div class="carousel-caption">
                <h2>Leadership</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url(./images/image3.jpg);"></div>
            <div class="carousel-caption">
                <h2>Outreach</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url(./images/image4.jpg);"></div>
            <div class="carousel-caption">
                <h2>CAD</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url(./images/image5.jpg);"></div>
            <div class="carousel-caption">
                <h2>CAD</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url(./images/image6.jpg);"></div>
            <div class="carousel-caption">
                <h2>Mechanical</h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>
