<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">NRG948</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="about">About Us</a>
                </li>
                <!--                    <li>
                                        <a href="parents.html">Parents</a>
                                    </li>
                -->
                <!--
                                    <li>
                                        <a href="contact.html">Contact</a>
                                    </li>
                -->
                <!--
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Join <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="portfolio-1-col.html">Information for Students</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-2-col.html">Information for Parents</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-2-col.html">Volunteering as a Mentor</a>
                                            </li>
                                        </ul>
                                    </li>
                -->
                <!--
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Donate <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="portfolio-1-col.html">Corporate Sponsors</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-2-col.html">Friends and Family</a>
                                    </li>
                                    <!--
                                    <li>
                                        <a href="portfolio-3-col.html">3 Column Portfolio</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-4-col.html">4 Column Portfolio</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-item.html">Single Portfolio Item</a>
                                    </li>
                                        </ul>
                                    </li>
                                  -->
                <!--
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Media <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="portfolio-1-col.html">Chairman's Videos</a>
                </li>
                <li>
                    <a href="portfolio-2-col.html">Still Images</a>
                </li>
                <li>
                    <a href="portfolio-3-col.html">3 Column Portfolio</a>
                </li>
                <li>
                    <a href="portfolio-4-col.html">4 Column Portfolio</a>
                </li>
                <li>
                    <a href="portfolio-item.html">Single Portfolio Item</a>
                </li>
                        </ul>
                    </li>
              -->
                <!--                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="blog-home-1.html">Robot Competition Blog</a>
                                            </li>
                                            <li>
                                                <a href="blog-home-2.html">Outreach Blog</a>
                                            </li>
                                        </ul>
                                    </li
                >-->
                <li>
                    <a href="http://wiki.nrg948.co">Wiki</a>
                </li>
                <!--
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="full-width.html">Full Width Page</a>
                                            </li>
                                            <li>
                                                <a href="sidebar.html">Sidebar Page</a>
                                            </li>
                                            <li>
                                                <a href="faq.html">FAQ</a>
                                            </li>
                                            <li>
                                                <a href="404.html">404</a>
                                            </li>
                                            <li>
                                                <a href="pricing.html">Pricing Table</a>
                                            </li>
                                        </ul>
                                    </li>
                -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
