<!-- Our Sponsors -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Our 2016 Sponsors</h2>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive customer-img" src="/images/sponsorlogos/boeing.png" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive customer-img" src="/images/sponsorlogos/bsf.png" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive customer-img" src="/images/sponsorlogos/google.png" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive customer-img" src="/images/sponsorlogos/microsoft.png" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive customer-img" src="/images/sponsorlogos/ortho.png" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive customer-img" src="/images/sponsorlogos/poa.png" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive customer-img" src="/images/sponsorlogos/qff.png" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive customer-img" src="/images/sponsorlogos/spectrum.png" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive customer-img" src="/images/sponsorlogos/speea.png" alt="">
    </div>
</div>
<!-- /.row -->
