{{> pagestart}}

<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">About
            <small>Newport Robotics Group (NRG948)</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/">Home</a>
            </li>
            <li class="active">About</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<!-- Intro Content -->
<div class="row">
    <div class="col-md-6">
        <img class="img-responsive" src="images/team2014.jpg" alt="">
    </div>
    <div class="col-md-6">
        <p>Club benefits for students:</p>
        <ul>
            <li><strong>Teamwork towards a common goal</strong>
            </li>
            <li>Learn real world technical skills</li>
            <li>Student leadership</li>
            <li>Competitive sport (can earn letter)</li>
            <li>Build a network of friends inside and outside school</li>
            <li>Real world presentation skills presenting to sponsors and peers </li>
        </ul>
        <p>This year, our robotics team consists of about 120+ students in grades 9-12. The general cycle of activities the club concentrates on is determined by the schuedule of the FIRST Robotics Competition (FIRST RC) which is the governing body of the competition we compete in.</p>
        <p>During the months of October to December we are again gearing up for the next season - recruiting and training new student members of the club, helping in FLL leagues, and organizing our workshop. The club is organized into a set of sub-groups with students participating in one or more of the groups.</p>
        <p>The FIRST organization releases the details of the copetition in the month of January - this details the rules of the competition for all teams participating.  During the months of January and March, we are busy building our robot and getting ready for competition.</p>
        <p>Between April and September, we are giving back to our community by participating in Summer Parades, Scouting Merit Badge Workshops, Elementary School Science Fairs, Engineering Programs for students, and holding Food Donation Drives.</p>
    </div>
</div>
<!-- /.row -->

<!-- About First Content -->
<div class="row">
    <div class="col-md-6">
        <h2>About FIRST</h2>
        <p>We are a team of proud students under the FIRST Organization. FIRST stands for “For Inspiration of Science and Technology.” Founded by Dean Kamen, the inventor of the Segway Scooter, this organization works together with students of all ages across the nation and around the world to bring a new spin to an old pursuit. Dean Kamen created FIRST “to transform our culture by creating a world where science and technology are celebrated and where young people dream of becoming science and technology heroes.” It is a worthy alternative to sporting events in its competitive, yet friendly methods of spreading knowledge about science, technology, and engineering. The core tenet and catchphrase of FIRST is “Gracious Professionalism,” an idea which encapsulates the camaraderie found at FIRST Events. As a phrase, it conjures images of kind and friendly interaction with other teams. As a lifestyle, it begs competition, but not in a vicious way. Rather, it brings teams together to achieve a common goal and together develop innovative ways to solve difficult problems.</p>

            <p>FIRST’s Mission Statement: “Our mission is to inspire young people to be science and technology leaders, by engaging them in exciting mentor-based programs that build science, engineering and technology skills, that inspire innovation, and that foster well-rounded life capabilities including self-confidence, communication and leadership.”</p>

            <p>Please Visit the FIRST website for more information!</p>
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="/images/FIRST_logo.png" alt="">
    </div>
</div>
<!-- /.row -->

<!-- Team Members -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Our Leadership Team</h2>
    </div>
        <div class="col-md-4 text-center">
            {{>contact
                thumbnail="images/leadership2017/RobertDoranAdvisor.JPG"
                name="Robert Doran"
                title="Faculty Advisor"
                description="Science teacher by day, mad scientist by night."
            }}
        </div>
    <div class="col-md-4 text-center">
        {{>contact
            thumbnail="images/leadership2017/MikuHanatateCEO.JPG"
            name="Miku Hanatate"
            title="CEO"
            description="Miku loves dancing the Cotton-Eye Joe."
        }}
    </div>
    <div class="col-md-4 text-center">
        {{>contact
            thumbnail="images/leadership2017/SohamPantCTO.JPG"
            name="Soham Pant"
            title="CTO"
            description="Soham is an expert on all things biking."
        }}
    </div>
    <div class="col-md-4 text-center">
        {{>contact
            thumbnail="images/leadership2017/JaiSinghVPMechanical.JPG"
            name="Jai Singh"
            title="VP Mechanical"
            description="Jai is very excited the Cubs have won a World Series in his lifetime."
        }}
    </div>
    <div class="col-md-4 text-center">
            {{>contact
                thumbnail="images/leadership2017/DelphineLepeintreVPSystems.JPG"
                name="Delphine Lepeintre"
                title="VP Systems & Outreach Captain"
                description="Delphine loves making sandwiches at Jimmy Johns."
            }}
        </div>
    <div class="col-md-4 text-center">
                {{>contact
                    thumbnail="images/leadership2017/MayankMotukuriVPProgramming.JPG"
                    name="Mayank Motukuri"
                    title="VP Programming"
                    description="Mayank enjoys when people make puns from his name."
                }}
            </div>
    <div class="col-md-4 text-center">
                {{>contact
                    thumbnail="images/leadership2017/MalickSereVPCAD.JPG"
                    name="Malick Sere"
                    title="VP Cad"
                    description="Malick plays the tuba and is as tall as a tuba."
                }}
            </div>
    <div class="col-md-4 text-center">
                {{>contact
                    thumbnail="images/leadership2017/VictoriaHuynhVPMarketing.JPG"
                    name="Victoria Huynh"
                    title="VP Marketing"
                    description="Victoria likes to make bad puns and listen to musicals."
                }}
            </div>
    <div class="col-md-4 text-center">
                {{>contact
                    thumbnail="images/leadership2017/ErikChoiVPBusinessAdministration.JPG"
                    name="Erik Choi"
                    title="VP Business"
                    description="Erik loves moonlit nights, long walks on the beach, and unicorns."
                }}
            </div>
    <div class="col-md-4 text-center">
                {{>contact
                    thumbnail="images/leadership2017/ReeseVeltonDriveCoach.JPG"
                    name="Reese Velton"
                    title="Drive Coach"
                    description="Reese frequently spends time browsing iFunny."
                }}
            </div>
    <div class="col-md-4 text-center">
                {{>contact
                    thumbnail="images/leadership2017/YerinYangMediaCaptain.JPG"
                    name="Yerin Yang"
                    title="Media Co-Captain"
                    description="Yerin is very excited for the new Pokemon game to come out."
                }}
            </div>
    <div class="col-md-4 text-center">
                {{>contact
                    thumbnail="images/leadership2017/KrystalGraylinMediaCaptain.JPG"
                    name="Krystal Graylin"
                    title="Media Co-Captain"
                    description="Krystal loves being adorable and everyone loves her."
                }}
            </div>
</div>
<!-- /.row -->
{{> pageend}}
