<!DOCTYPE html>
<html lang="en">
<head>
    {{> coreIncludes }}
</head>

<body>
    {{> menu }}
    {{> headerCarousel}}
<!-- Page Content -->
<div class="container">
    <!-- Features Section -->
    <div class="row">
        {{> main/whatIsNrg }}
    </div>
    <!-- /.row -->

    <hr>
        {{> callToAction }}
    <hr>

    {{> footer}}

</div>
<!-- /.container -->

{{>commonScripts}}

</body>
</html>
