<div class="col-lg-12">
    <h2 class="page-header">What is Newport Robotics Club (NRG948)</h2>
</div>
<div class="col-md-6">
    <p>Club benefits for students:</p>
    <ul>
        <li><strong>Teamwork towards a common goal</strong>
        </li>
        <li>Learn real world technical skills</li>
        <li>Student leadership</li>
        <li>Competitive sport (can earn letter)</li>
        <li>Build a network of friends inside and outside school</li>
        <li>Real world presentation skills presenting to sponsors and peers </li>
    </ul>
    <p>This year our Robotics group consists of about 120+ students in grades 9-12. During the months of January - March, we are busy building our robot and getting ready for competition. Between April and September, we are giving back to our community by participating in Summer Parades, Scouting Merit Badge Workshops, Elementary School Science Fairs, Engineering Programs for students, and holding Food Donation Drives. During the months of October to December we are again gearing up for the next season - recruiting new students, helping in FLL leagues, and organizing our workshop. The club is organized into a set of sub-groups with students participating in one or more of the groups.</p>
</div>
<div class="col-md-6">
    <img class="img-responsive" src="/portfolio/practice/20150117-012815 NRG948 DSC_0068.jpg" alt="">
</div>
